<h1>Listing all articles</h1>

<%= link_to "Create new Article", new_article_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Decription</th>
  </tr>

  <% @articles.each do |niki| %>    
  <tr>
    <td><%= niki.title %></td>        
    <td><%= niki.description %></td> 
    <td><%= link_to "Edit", edit_article_path(niki) %></td>
    <td><%= link_to "Show", article_path(niki) %></td>
    <td><%= link_to 'Delete', article_path(niki), method: :delete, data: {confirm: "are you sure?"} %></td>

  </tr>
  <%end %>    

